*.class
/Help4TravellingCentral/nbproject/private/
/Help4TravellingCentral/build/
/Help4TravellingCentral/nbbuild/
/Help4TravellingCentral/nbdist/
/Help4TravelingEstacion/nbproject/private/
/Help4TravelingEstacion/build/
/Help4TravelingEstacion/nbbuild/
/Help4TravelingEstacion/nbdist/
/Help4TravelingCentral/nbproject/private/
/Help4TravelingWeb/nbproject/private/