*.class
/Help4TravelingCentral/nbproject/private/
/Help4TravelingCentral/build/
/Help4TravelingCentral/nbbuild/
/Help4TravelingCentral/nbdist/
/Help4TravelingWeb/nbproject/private/
/Help4TravelingWeb/build/
/Help4TravelingWeb/nbuild/
/Help4TravelingWeb/nbdist/